{
  "extends": ["standard", "prettier"],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-unused-expressions": 0
  },
  "parser": "babel-eslint"
}
